body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    line-height: 1.2;
}

#channels {

}

#channels li > a {
    padding: 5px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center center;
}

#display {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    margin-bottom: 0;
}

#display > .tab-pane.active {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#display > .tab-pane > .chat {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-x: hidden;
}

#display > .tab-pane > .chat > .text {
    overflow-x: hidden;
    overflow-y: auto;
    word-wrap: break-word;
}

#display > .tab-pane > .chat > .text img.twitch-badge,
#display > .tab-pane > .users img.twitch-badge {
    height: 18px;
    padding-right: 3px;
}

#display > .tab-pane > .chat > .text img.emote {
    height: 28px;
}

#display > .tab-pane > .chat > .text > span {
    display: block;
}

#display > .tab-pane > .chat > .text .timeout {
    text-decoration: line-through;
}

#display > .tab-pane > .chat > .topic {
    height: 48px;
    flex-shrink: 0;
}

#display > .tab-pane > .chat > .topic .topic-background {
    position: absolute;
    width: 100%;
    height: 48px;
    opacity: 0.2;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center center;
}

#display > .tab-pane > .chat > .topic .topic-foreground {
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 100%;
    white-space: nowrap;
}

#display > .tab-pane > .chat > .topic .topic-foreground > .topic-logo {
    display: block;
    margin-right: 10px;
    width: 48px;
    height: 48px;
}

#display > .tab-pane > .chat > .topic .topic-foreground > .topic-edit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 10px;
}

#display > .tab-pane > .chat > .topic .topic-foreground > .topic-text {
    flex-grow: 1;
    height: 48px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#display > .tab-pane > .divider {
    background-color: #cccccc;
    flex-basis: 4px;
    flex-shrink: 0;
    cursor: ew-resize;
}

#display > .tab-pane > .users {
    overflow: auto;
    flex-basis: 125px;
    flex-shrink: 0;
    min-width: 75px;
    max-width: 250px;
    padding-left: 2px;
    padding-right: 2px;
}

#display > .tab-pane > .users .user {
    white-space: nowrap;
}

#input {

}

#inputbox {
    width: 100%;
    min-height: 24px;
    height: 24px;
    overflow-y: none;
    resize: none;
}

a.userlink, a.userlink:hover, a.userlink:visited {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
