body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#menu {

}

#channels {

}

#display {
    flex-grow: 1;
}

#display > .tab-pane {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#display > .tab-pane > .chat {
    flex-grow: 1;
}

#display > .tab-pane > .users {
    width: 100px;
}

#input {

}

#inputbox {
    width: 100%;
    height: 1.2em;
}
